@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
.container {
  position: relative;
  clip-path: polygon(0 0, 50% 0, 100% 0, 100% 92%, 50% 100%, 0 92%);
  width: 100vw;
  height: 100vh;
}
.sky {
  position: absolute;
  background: no-repeat center/cover url("../../assets/landingImages/sky.png");
  width: 100%;
  height: 100%;
  background-position: center 40%;
  z-index: -2;
}
.mountainMain {
  position: absolute;
  background: no-repeat center/cover
    url("../../assets/landingImages/background.png");
  width: 100%;
  height: 100%;
  background-position: center 40%;
}
.mountainLeft {
  position: absolute;
  background: no-repeat center/cover url("../../assets/landingImages/left.png");
  width: 100%;
  height: 100%;
  background-position: center 50%;
}
.mountainRight {
  position: absolute;
  background: no-repeat center/cover url("../../assets/landingImages/right.png");
  width: 100%;
  height: 100%;
  background-position: center 80%;
}

.cloudTop {
  position: absolute;
  background: no-repeat center/contain
    url("../../assets/landingImages/cloudTop.png");
  width: 15%;
  height: 20%;
  top: 15vh;
  /* left: 10vw; */
  animation: cloud-top 200s linear infinite;
}

@keyframes cloud-top {
  0% {
    opacity: 1;
    transform: translateX(10vw);
  }
  12% {
    opacity: 1;
    transform: translateX(-10vw);
  }
  13% {
    opacity: 0;
    transform: translateX(-10vw);
  }

  15% {
    opacity: 0;
    transform: translateX(100vw);
  }
  16% {
    opacity: 1;
    transform: translateX(100vw);
  }

  100% {
    opacity: 1;
    transform: translateX(10vw);
  }
}

.cloudMid {
  position: absolute;
  background: no-repeat center/contain
    url("../../assets/landingImages/cloudMid.png");
  width: 35%;
  height: 35%;
  bottom: 30vh;
  /* right: -5vw; */
  animation: cloud-mid 160s linear infinite;
}

@keyframes cloud-mid {
  0% {
    opacity: 0;
    transform: translateX(80vw);
  }
  1% {
    opacity: 1;
    transform: translateX(80vw);
  }
  99% {
    opacity: 1;
    transform: translateX(-20vw);
  }
  100% {
    opacity: 0;
    transform: translateX(-20vw);
  }
}

.cloudBottom {
  position: absolute;
  background: no-repeat url("../../assets/landingImages/cloudBottom.png");
  background-position: center top;
  background-size: contain;
  width: 2000px;
  height: 1000px;
  bottom: -35rem;
  animation: cloud-buttom 90s linear infinite;
}

.slowdown {
  animation-play-state: paused;
}
/* 
@keyframes cloud-buttom {
  0% {
    opacity: 0;
    transform: translateX(70vw);
  }
  1% {
    opacity: 1;
    transform: translateX(70vw);
  }
  99% {
    opacity: 1;
    transform: translateX(-70vw);
  }
  100% {
    opacity: 0;
    transform: translateX(-70vw);
  }
} */

@keyframes cloud-buttom {
  0% {
    opacity: 1;
    transform: translateX(30vw);
  }
  50% {
    opacity: 1;
    transform: translateX(-50vw);
  }
  51% {
    opacity: 0;
    transform: translateX(-50vw);
  }

  53% {
    opacity: 0;
    transform: translateX(60vw);
  }
  55% {
    opacity: 1;
    transform: translateX(60vw);
  }

  100% {
    opacity: 1;
    transform: translateX(30vw);
  }
}

.titleFirst {
  cursor: pointer;
  position: relative;
  font-family: "Red Rose", cursive;
  font-weight: 700;
  font-size: 6rem;
  color: white;
  /* width: 100%; */
  text-align: center;
  line-height: 60%;
  padding-top: 3rem;
  z-index: -1;
}

.titleFirst::after {
  content: "";
  position: relative;
  display: block;
  width: 50%;
  max-width: 700px;
  min-width: 360px;
  height: 2px;
  background-color: #fff;
  margin: 1rem auto;
}
.explore {
  font-family: "Chonburi", cursive;
  font-size: 1.5rem;
  color: white;
  width: 100%;
  text-align: center;
  /* margin-top: -0.5rem; */
  line-height: 80%;
}

@media (max-width: 1366px) {
  .titleFirst {
    padding-top: 3rem;
  }
  .explore {
    margin-top: -1rem;
  }
  .titleFirst,
  .explore {
    scale: 0.8;
  }
}
