.container {
  position: relative;
  clip-path: polygon(0 0, 50% 0, 100% 0, 100% 92%, 50% 100%, 0 92%);
  width: 100vw;
  height: 100vh;
  background: no-repeat center/cover url("../../assets/landingImages/sky.png");
  background-position: center 45%;
}

.mountainMain {
  position: absolute;
  background: no-repeat center/cover
    url("../../assets/landingImages/background.png");
  width: 100%;
  height: 100%;
  background-position: center 45%;
}
.mountainLeft {
  position: absolute;
  background: no-repeat center/cover url("../../assets/landingImages/left.png");
  width: 100%;
  height: 100%;
  background-position: center 45%;
}
.mountainRight {
  position: absolute;
  background: no-repeat center/cover url("../../assets/landingImages/right.png");
  width: 100%;
  height: 100%;
  background-position: center 70%;
}

.cloudTop {
  position: absolute;
  background: no-repeat center/contain
    url("../../assets/landingImages/cloudTop.png");
  width: 15%;
  height: 20%;
  top: 15vh;
  left: 10vh;
}
.cloudMid {
  position: absolute;
  background: no-repeat center/contain
    url("../../assets/landingImages/cloudMid.png");
  width: 40%;
  height: 30%;
  bottom: 35vh;
  right: 5vh;
}

.cloudBottom {
  position: absolute;
  background: no-repeat url("../../assets/landingImages/cloudBottom.png");
  background-position: center top;
  width: 100%;
  height: 25%;
  bottom: 0;
}
