.listContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.imageSwiper {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.carouselContainer {
  position: absolute;
  bottom: 2rem;
  right: 15rem;
  width: 550px;
  height: 550px;
}
.carouselSwiper {
  width: 650px;
  height: 100%;
}
