@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");
.swiper-pagination {
  position: absolute;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.swiper-pagination-bullet {
  width: 55px;
  height: 50px;
  border-radius: 0;
  text-align: center;
  line-height: 30px;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0);
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transform: translateY(60px);
  transition: transform 0.5s ease-out;
}

.swiper-pagination-bullet-active {
  font-family: "Goblin One", cursive;
  color: white;
  align-items: center;
  height: 60px;
  background: var(--color-bg);
  transform: translateY(10px);
  transition: transform 0.2s ease-out;
}

@media (max-width: 1920px) {
  .swiper-pagination {
    width: 300px;
  }
  .swiper-pagination-bullet {
    width: 40px;
    height: 45px;
    transform: translateY(45px);
  }
  .swiper-pagination-bullet-active {
    font-size: 1.5rem;
    transform: translateY(10px);
    height: 45px;
  }
}
@media (max-width: 1366px) {
  .swiper-pagination {
    width: 200px;
  }
  .swiper-pagination-bullet {
    width: 22px;
    height: 30px;
    transform: translateY(35px);
  }
  .swiper-pagination-bullet-active {
    font-size: 1rem;
    transform: translateY(10px);
    height: 30px;
  }
}
@media (max-width: 768px) {
}

@media (max-width: 450px) {
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    display: none;
  }
}
