@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
.navbar {
  position: absolute;
  display: flex;
  z-index: 1;
  padding: 1rem 2vw;
  width: 100%;
  height: 2rem;
  justify-content: space-between;
  /* overflow: visible; */
}

.truthlogo {
  width: 50px;
  height: 50px;
  background-image: url("../../assets/navbar/truthNoBg.svg");
  background-size: contain;
}

.bigLinks {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.bigLinks a {
  font-family: "Chonburi", cursive;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: all 0.3s ease-out;
}

.bigLinks a:hover {
  color: #ff004d;
  transform: translateY(-2px);
}

@media (max-width: 1366px) {
  .truthlogo {
    width: 40px;
    height: 40px;
  }
  .bigLinks {
    width: 200px;
  }
  .bigLinks a {
    font-size: 0.9rem;
  }
}
@media (max-width: 1200px) {
  .truthlogo {
    width: 35px;
    height: 35px;
  }
  .bigLinks {
    width: 180px;
  }
  .bigLinks a {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .truthlogo {
    width: 30px;
    height: 30px;
  }
  .bigLinks {
    display: none;
  }
}
@media (max-width: 450px) {
  .truthlogo {
    width: 25px;
    height: 25px;
  }
}
