@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap");
.footer {
  max-width: 1400px;
  margin: auto;
  height: 320px;
}

.quote {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin: 10rem 0 8rem;
  font-family: "Red Rose", cursive;
}

.quote p:nth-of-type(1) {
  color: var(--color-text);
}

.logoContainer {
  position: relative;
  width: 300px;
  height: 100px;
  margin: auto;
  color: white;
  display: flex;
  justify-content: space-between;
}
.truthlogo {
  width: 50px;
  height: 50px;
  background-image: url("../../assets/navbar/truthNoBg.svg");
  background-size: contain;
  filter: saturate(60%) brightness(100%);
}

.lastWords p:nth-of-type(1) {
  font-size: 1.3rem;
}
.lastWords p:nth-of-type(2) {
  font-size: 0.78rem;
  color: var(--color-text);
}

@media (max-width: 768px) {
  .footer {
    width: 90%;
  }
  .quote {
    font-size: 1rem;
  }
  .logoContainer {
    width: 220px;
    height: 100px;
    justify-content: center;
  }
  .truthlogo {
    width: 35px;
    height: 35px;
  }
  .lastWords {
    width: 130px;
  }
  .lastWords p:nth-of-type(1) {
    text-align: end;
    font-size: 0.7rem;
  }
  .lastWords p:nth-of-type(2) {
    position: relative;
    text-align: end;
    font-size: 0.5rem;
    scale: 0.7;
    left: 8px;
    white-space: nowrap;
    transform-origin: left;
    color: var(--color-text);
  }
}
