.storyContainer {
  position: relative;
  width: 100vw;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem 0;
  overflow: hidden;
}

.storyBg {
  position: absolute;
  z-index: -5;
  width: 100%;
  opacity: 0.03;
  top: 10rem;
}

.content {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  height: 650px;
  overflow: hidden;
}

.textBox {
  position: relative;
  width: 700px;
}

.textBox h1 {
  font-size: 2.75rem;
  text-align: end;
}

.textBox h2 {
  line-height: 2rem;
  text-align: end;
  color: var(--color-text);
  font-weight: 100;
}

.textBox p {
  font-size: 0.95rem;
  line-height: 1.4rem;
  position: absolute;
  bottom: 0;
  text-align: justify;
  color: var(--color-text);
}

.imageBox {
  width: 500px;
  position: relative;
}

.georgeBg {
  position: relative;
  width: 100%;
  background-color: var(--color-blog);

  z-index: -1;
  padding: 2rem 1rem 1rem 2rem;
}

.georgeBg p {
  font-size: 1rem;
  text-align: justify;
}
.georgeBg p:nth-of-type(2) {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: end;
  margin-top: 1rem;
}

.george {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.vrBox {
  height: 100%;
  top: 0;
  width: 1px;
  background-color: white;
}

.georgeName {
  position: absolute;
  right: 0;
  top: 220px;
  font-weight: 700;
  font-size: 1.45rem;
  z-index: 1;
  background: var(--gradient-text);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.georgeName span {
  font-size: 4rem;
}

@media (max-width: 1366px) {
  .storyContainer {
    margin: 9rem 0;
  }
  .content {
    height: 600px;
  }
  .textBox {
    width: 600px;
  }
  .textBox h1 {
    font-size: 2.2rem;
  }

  .textBox h2 {
    font-size: 1.2rem;
  }

  .textBox p {
    font-size: 1rem;
    line-height: 1.1rem;
  }
  .imageBox {
    width: 400px;
  }
  .georgeBg p {
    font-size: 0.85rem;
    text-align: justify;
  }
  .georgeBg p:nth-of-type(2) {
    font-size: 1.1rem;
  }
  .georgeName {
    font-size: 1.2rem;
  }
  .georgeName span {
    font-size: 3rem;
  }
}

@media (max-width: 1150px) {
  .storyContainer {
    margin: 8rem 0;
  }
  .content {
    height: 550px;
  }
  .textBox {
    width: 500px;
  }
  .textBox h1 {
    font-size: 1.9rem;
  }

  .textBox h2 {
    font-size: 1.1rem;
  }

  .textBox p {
    font-size: 1rem;
    line-height: 0.9rem;
  }
  .imageBox {
    width: 350px;
  }
  .georgeBg p {
    font-size: 0.85rem;
    text-align: justify;
  }
  .georgeBg p:nth-of-type(2) {
    font-size: 1.1rem;
  }
  .georgeName {
    font-size: 1.2rem;
  }
  .georgeName span {
    font-size: 3rem;
  }
}

@media (max-width: 1000px) {
  .storyContainer {
    margin: 7rem 0;
  }
  .content {
    height: 550px;
  }
  .textBox {
    width: 450px;
  }
  .textBox h1 {
    font-size: 1.7rem;
  }

  .textBox h2 {
    font-size: 1rem;
  }

  .textBox p {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
  .imageBox {
    width: 300px;
  }
  .georgeBg p {
    font-size: 0.8rem;
    text-align: justify;
  }
  .georgeBg p:nth-of-type(2) {
    font-size: 1.1rem;
  }
  .georgeName {
    font-size: 1.2rem;
  }
  .georgeName span {
    font-size: 3rem;
  }
}
@media (max-width: 900px) {
  .storyContainer {
    margin: 6rem 0;
  }
  .content {
    height: 500px;
  }
  .textBox {
    width: 400px;
  }
  .textBox h1 {
    font-size: 1.5rem;
  }

  .textBox h2 {
    font-size: 1rem;
  }

  .textBox p {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  .imageBox {
    width: 260px;
  }
  .georgeBg p {
    font-size: 0.75rem;
    text-align: justify;
  }
  .georgeBg p:nth-of-type(2) {
    font-size: 1rem;
  }
  .georgeName {
    top: 230px;
    font-size: 1.2rem;
  }
  .georgeName span {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .storyContainer {
    margin: 5rem 0;
  }
  .content {
    height: 400px;
  }
  .textBox {
    width: 400px;
  }
  .textBox h1 {
    font-size: 1.5rem;
  }

  .textBox h2 {
    font-size: 1rem;
  }

  .textBox p {
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
  .imageBox {
    width: 200px;
  }
  .georgeBg p {
    font-size: 0.5rem;
    text-align: center;
  }
  .georgeBg p:nth-of-type(2) {
    font-size: 0.6rem;
  }
  .georgeName {
    top: 210px;
    font-size: 0.8rem;
  }
  .georgeName span {
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  .storyContainer {
    height: auto;
    overflow-x: hidden;
  }
  .content {
    width: 85%;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    height: auto;
    overflow-x: hidden;
  }
  .vrBox {
    display: none;
  }
  .textBox {
    position: relative;
    width: 100%;
  }
  .textBox h1 {
    font-size: 1.3rem;
    align-self: auto;
  }

  .textBox h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .textBox p {
    position: relative;
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .imageBox {
    position: relative;
    width: 100%;
  }
  .george {
    position: relative;
  }

  .georgeBg p {
    font-size: 0.7rem;
    text-align: justify;
  }
  .georgeBg p:nth-of-type(2) {
    font-size: 0.8rem;
  }
  .georgeName {
    position: relative;
    top: -100%;
    text-align: right;
    font-size: 0.8rem;
  }
  .georgeName span {
    font-size: 2rem;
  }
}
