@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap");

.bonusContainer {
  position: relative;
  width: 100vw;
  color: white;
  width: 100vw;
  height: 100vh;
  min-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15rem 0 10rem;
  overflow: hidden;
}
.bonusBg {
  position: absolute;
  z-index: -5;
  width: 100%;
  opacity: 0.03;
  top: 1rem;
  overflow: hidden;
}
.content {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  height: 1000px;
}
.leftTile p:nth-of-type(1) {
  font-size: 2.75rem;
  font-weight: 500;
}
.leftTile p:nth-of-type(2) {
  font-size: 1.1rem;
  text-align: justify;
  line-height: 130%;
  color: var(--color-text);
}
.leftTile p:nth-of-type(3) {
  font-size: 0.9rem;
  text-align: justify;
  margin-top: 1rem;
  text-indent: 2rem;
  color: var(--color-text);
}

.rightTile,
.rightText {
  color: var(--color-text);
  font-size: 0.85rem;
  text-align: justify;
  text-indent: 2rem;
}
.rightText h2 {
  text-indent: 0;
  color: white;
  margin: 2rem 0 0.5rem;
}
.rightText p {
  font-size: 0.95rem;
}

.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftImg {
  position: relative;
  width: 100%;
  height: 70%;
}

.rightImg {
  width: 100%;
  height: 30%;
}

.vrBox {
  height: 100%;
  top: 0;
  width: 1px;
  background-color: white;
}

.textContainer {
  position: absolute;
  bottom: 10rem;
  left: 2rem;
}
.name {
  font-size: 2rem;
  font-family: "Red Rose", cursive;
}
.text {
  color: var(--color-text);
  position: relative;
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}
.text span {
  font-size: 0.8rem;
}

.rankNumber {
  position: relative;
  font-family: "Red Rose", cursive;
  font-size: 4rem;
  line-height: 100%;
  bottom: 0.3rem;
}

.height {
  color: var(--color-text);
  font-size: 0.8rem;
}

.info p {
  width: 80%;
  position: absolute;
  bottom: 0;
  text-align: justify;
}

@media (max-width: 1500px) {
  .content {
    width: 85%;
  }
  .leftTile p:nth-of-type(1) {
    font-size: 2.5rem;
  }
  .leftTile p:nth-of-type(2) {
    font-size: 1rem;
  }
  .leftTile p:nth-of-type(3) {
    font-size: 0.85rem;
    margin-top: 1rem;
  }
  .rightTile,
  .rightText {
    font-size: 0.8rem;
    text-indent: 1.5rem;
  }
  .rightText h2 {
    margin: 1rem 0 0.5rem;
  }
  .rightText p {
    font-size: 0.85rem;
  }
}
@media (max-width: 1366px) {
  .leftTile p:nth-of-type(1) {
    font-size: 2rem;
  }
  .leftTile p:nth-of-type(2) {
    font-size: 0.9rem;
  }
  .leftTile p:nth-of-type(3) {
    font-size: 0.8rem;
    margin-top: 0.9rem;
  }
  .rightTile,
  .rightText {
    font-size: 0.75rem;
    text-indent: 1.5rem;
  }
  .rightText h2 {
    margin: 0.9rem 0 0.5rem;
  }
  .rightText p {
    font-size: 0.85rem;
  }
  .textContainer {
    bottom: 11rem;
  }
}

@media (max-width: 1200px) {
  .left {
    width: 52%;
  }
  .right {
    width: 38%;
  }
  .leftTile p:nth-of-type(1) {
    font-size: 2rem;
  }
  .leftTile p:nth-of-type(2) {
    font-size: 0.9rem;
  }
  .leftTile p:nth-of-type(3) {
    font-size: 0.8rem;
    margin-top: 0.9rem;
  }
  .rightTile,
  .rightText {
    font-size: 0.75rem;
  }
  .rightText h2 {
    font-size: 1rem;
    margin: 0.5rem 0 0.3rem;
  }
  .rightText p {
    font-size: 0.75rem;
  }
  .textContainer {
    bottom: 12rem;
  }
}

@media (max-width: 1000px) {
  .left {
    width: 52%;
  }
  .right {
    width: 42%;
  }
  .bonusContainer {
    min-height: 800px;
  }
  .content {
    height: 750px;
  }
  .leftTile p:nth-of-type(1) {
    font-size: 1.6rem;
  }
  .leftTile p:nth-of-type(2) {
    font-size: 0.8rem;
  }
  .leftTile p:nth-of-type(3) {
    font-size: 0.65rem;
    margin-top: 0.85rem;
  }
  .rightTile,
  .rightText {
    line-height: 100%;
    font-size: 0.65rem;
    text-indent: 1rem;
  }
  .rightText h2 {
    font-size: 0.8rem;
    margin: 0.5rem 0 0.3rem;
  }
  .rightText p {
    line-height: 100%;
    font-size: 0.65rem;
  }
  .textContainer {
    scale: 0.9;
    bottom: 8rem;
  }
}

@media (max-width: 768px) {
  .bonusContainer {
    height: auto;
    margin: 10rem 0 10rem;
  }
  .content {
    width: 85%;
    height: auto;
  }
  .vrBox {
    display: none;
  }
  .content {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
    gap: 1.5rem;
  }

  .leftTile p:nth-of-type(1) {
    text-align: end;
    font-size: 1.6rem;
  }
  .leftTile p:nth-of-type(2) {
    text-align: end;
    font-size: 0.83rem;
  }
  .leftTile p:nth-of-type(3) {
    font-size: 0.7rem;
    margin-top: 1rem;
  }
  .rightTile,
  .rightText {
    line-height: 120%;
    font-size: 0.75rem;
    text-indent: 2rem;
  }
  .rightText {
    order: 1;
  }
  .rightTile {
    order: 3;
  }
  .rightImg {
    order: 2;
  }
  .rightText h2 {
    font-size: 1.15rem;
    white-space: nowrap;
    margin: 3rem 0 1rem;
  }
  .rightText p {
    line-height: 120%;
    font-size: 0.75rem;
  }

  .leftImg {
    position: relative;
    width: 100%;
    height: 600px;
    background-position: 50% 45% !important;
  }

  .rightImg {
    width: 100%;
    height: 200px;
  }
  .textContainer {
    scale: 0.8;
    left: 0;
    bottom: 35%;
  }
}
